<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.highway.mapper.EventMapper" >
  <resultMap id="BaseResultMap" type="com.highway.model.Event" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="simple" property="simple" jdbcType="BIT" />
    <result column="year" property="year" jdbcType="DATE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="events" property="events" jdbcType="LONGVARCHAR" />
  </resultMap>

  <select id="getAllEvents" resultMap="BaseResultMap">
    select * from sd_event where 1=1
    <if test="year!=null and year!='' ">
      and year =#{year}
    </if>
    order by year
  </select>
</mapper>